@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.wrapper {
  overflow: hidden;
  height: 20em;
  width: 24em;
  margin: 1em;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.book-image {
  height: 23em;
  width: 5em;
  margin: 2em;
  float: left;

  img {
    width: 100px;
    height: 200px;
    border-radius: 7px 0 0 7px;
  }
}

.book-info {
  width: 24em;
  height: 23em;
  padding-top: 1.2em;
  margin: 0;
  background-color: #ffffff;

  .book-text {
    overflow: hidden;
  }

  p {
    font-size: 0.6em;
    overflow: hidden;
    line-height: 1.5em;
    padding-top: 0.7em;
    font-weight: lighter;
  }

  .book-text h1 {
    padding-top: 0.2em;
  }

  .book-text h2 {
    font-size: 0.8em;
    letter-spacing: 0.1em;
  }
}

.book-price-btn {
  // margin-top: 0.8em;
  display: flex;
  justify-content: space-evenly;
  p {
    font-size: 0.9em;
    // height: 1.9em;
    padding-right: 0.7em;
    font-family: "Merriweather", serif;
  }

  button {
    // display: inline-block;
    border: transparent;
    font-size: 0.8em;
    border-radius: 2em;
    text-transform: uppercase;
    letter-spacing: 0em;
    margin-top: 0.4em;
    // margin: 0 1em 0 1.2em;
    height: 2.5em;
    width: 8em;
    color: #ffffff;
    background-color: #9cebd5;
    cursor: pointer;
    outline: none;
  }
}
